%li.topic{ class: topic.unread? && 'unread'  }
  .avatar

  .meta_data
    %h4= link_to topic.title, topic
    %ul.tags
      - topic.tags.each do |tag|
        = render tag, display_topics_count: false

  .score
    note
    %div= topic.score

  .replies
    réponses
    %div= topic.replies_count

