%ul
  - @topics.each do |topic|
    %li{ class: topic.unread? && 'unread'  }
      = link_to topic.title, topic
      - if topic.unread?
        (nouveaux messages)
      %ul.tags
        - topic.tags.each do |tag|
          %li= tag.name

%div= paginate(@topics)

- if can?(:create, Topic)
  %div= link_to 'Créer une discussion', new_topic_path, class: 'create_topic'
