%ul#available_tags
  - @tags.each do |tag|
    = render tag, display_topics_count: true


%ul#topics.search
  - @topics.each do |topic|
    = render 'topics/item', topic: topic.decorate

%div= paginate(@topics)
