// http://colorschemedesigner.com/#3p11TfvU8w0w0

$navigationBoxWidth: 100px;
$linkColor: steelblue;
$linkColorHover: #72A1B0;
$backgroundColor: #eee;

body {
  background: #fdfdfd;
  min-width: 700px;

  p {
    padding: 8px 0;
  }

  p:first-child {
    padding-top: 0;
  }

  p:last-child {
    padding-bottom: 0;
  }

  a {
    color:           $linkColor;
    text-decoration: none;
  }

  a:hover {
    color: $linkColorHover;
  }

  strong {
    font-weight: bold;
  }
}

body header.main {
  height:   80px;
  overflow: auto;

  h1 {
    float:       left;
    font-size:   2.8em;
    font-weight: bold;
    padding:     12px;
  }

  section#current_user {
    background:   $backgroundColor;
    float:        right;
    margin-right: 12px;
    padding:      12px;
    text-align:   right;
  }
}

nav#main {
  float: left;
  width: $navigationBoxWidth;

  ul {
    margin-bottom: 30px;

    li {
      a {
        background:    $backgroundColor;
        display:       block;
        margin-bottom: 12px;
        padding:       12px;

        span {
        }
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  ul:last-child {
    margin-bottom: 0;
  }
}

section#content {
  margin-left:  $navigationBoxWidth + 12px;
  text-align:   justify;
  margin-right: 12px;

  h2 {
    font-size: 1.6em;
  }
}
