html body {
  background:  #f0f1f5;
  height:      100%;
  position:    relative;
  font-family: 'Abel', sans-serif;

  strong {
    font-weight: bold;
  }

  p {
    margin-bottom: 12px;
    text-align:    justify;
  }
}

#wide_container {
  bottom:    0;
  left:      0;
  min-width: 990px;
  position:  absolute;
  right:     0;
  top:       90px;
}

#container {
  background: url('/assets/container_background.gif');
  bottom:     0;
  margin:     auto;
  height:     100%;
  top:        90px;
  width:      990px;
}

#grey_box {
}

#content {
}
