html body {
  background: #f0f1f5;

  strong {
    font-weight: bold;
  }
}

#wide_container {
  bottom:     0;
  left:       0;
  min-width:  990px;
  position:   absolute;
  right:      0;
  top:        90px;
}

#container {
  background: url('/assets/container_background.gif');
  bottom:     0;
  margin:     auto;
  height:     100%;
  top:        90px;
  width:      990px;
}

#grey_box {
}
