@import 'colors';


#side_bar {
  width: 290px;
  float: left;

  .separator {
    border-top: 3px solid #e6eaed;
  }

  #user_box {
    margin:   40px 30px 30px 28px;
    overflow: hidden;
    width:    232px;

    .sign_out {
      margin-top: 10px;
    }

    .avatar {
      float: left;
    }

    .guest_avatar {
      color:      $mediumGrey;
      height:     50px;
      text-align: center;
      width:      50px;

      i {
        font-size: 50px;
      }
    }

    nav {
      float:   left;
      padding: 0 0 0 10px;
      width:   157px;

      strong {
        a, span {
          color:     $anthracite;
          font-size: 18px;
        }

        a:hover {
          color:           $lightningBlue;
          text-decoration: none;
        }
      }

      a {
        color:           $lightningBlue;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      strong, a {
        display:     block;
        height:      25px;
        line-height: 25px;
      }
    }
  }

  nav {
    ul {
      li {
        a {
          color:           #888;
          display:         block;
          height:          35px;
          line-height:     35px;
          text-decoration: none;
          text-indent:     50px;
        }
      }

      li.current, li:hover {
        background: $lightGreen;

        a {
          border-right: 3px solid $mediumGreen;
          color:        #fff;
        }
      }
    }
  }
}
