$tagsBoxWidth: 180px;

.tag {
  display:       inline-block;
  // border:        1px solid #999;
  border-radius: 4px;
  padding:       4px 8px;
  background:    #d6d6d6;
}

#topics.search {
  margin-right: $tagsBoxWidth + 12px;
}

#available_tags {
  background: #eee;
  float:      right;
  padding:    12px;
  text-align: left;
  width:      $tagsBoxWidth;

  .tag {
    margin: 0 0 6px 0;
  }
}
