$majorLinkColor: #374a58;
$minorLinkColor: #4ba6dd;
$lightGreen:     #b4e152;


#topics {
  .topic.unread {
    h4 {
      font-weight: bold;
    }
  }

  .topic {
    a {
      color:           $minorLinkColor;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    background:    #fbfbfb;
    color:         #888;
    margin:        10px 0;
    height:        65px;
    width:         642px;
    border-top:    1px solid #f4f4f4;
    border-left:   1px solid #f5f5f5;
    border-bottom: 1px solid #e5e5e5;

    .avatar {
      float: left;
      width: 65px;

      img {
        margin: 6px;
      }
    }

    .title_and_replies_and_tags {
      width: 536px;
      float: left;

      .title {
        h4 {
          font-size:   22px;
          height:      35px;
          line-height: 35px;

          i {
            font-size: 20px;
          }

          a {
            color:   $majorLinkColor;
            display: inline-block;
          }

          a:hover {
            color:           $minorLinkColor;
            text-decoration: none;
          }
        }
      }

      .replies_and_author_and_tags {
        height:      30px;
        line-height: 26px;

        i {
          font-size: 13px;
          color:     #999;
        }

        .author {
          display: inline-block;
        }

        .replies {
          display: inline-block;
          width:   120px;
        }

        .tags {
          float:        right;
          margin-right: 12px;

          i {
            margin-right: 2px;
          }
        }
      }
    }

    .score {
      background:  $lightGreen;
      color:       #fff;
      float:       left;
      font-size:   18px;
      font-weight: bold;
      line-height: 64px;
      text-align:  center;
      width:       40px;
    }
  }

  .topic:first-child {
    margin: 0 0 10px;
  }
}
